/* div[class^="col"] {
    min-height: 50px;
    border: 1px solid black;
}

.row{
    border: 1px dashed black;
}
.row{
    border-left: 2px solid black;
    height: 200px;
} */

.golden-glow {
    font-family: "Rouge Script", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
.buttons {
font-family: "Delius", cursive;
 font-weight: 400;
  font-style: normal;  
}
.special{
font-family: "Oswald", sans-serif;
font-optical-sizing: auto;
font-weight: weight;
font-style: normal;
}